<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="xu.li.cordova.wechat"
    version="0.5.3">
    <name>Wechat</name>
    <description>A cordova plugin, a JS version of Wechat SDK</description>
    <license>MIT</license>
    <keywords>cordova,wechat,weixin,share</keywords>
    <repo>https://github.com/xu-li/cordova-plugin-wechat.git</repo>
    <issue>https://github.com/xu-li/cordova-plugin-wechat/issues</issue>

    <!-- add this to your config.xml -->
    <!-- <preference name="WechatAppId" value="YOUR_WECHAT_APP_ID_HERE" /> -->

    <js-module src="www/wechat.js" name="Wechat">
        <clobbers target="Wechat" />
    </js-module>

    <!-- android -->
    <platform name="android">
        

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Wechat">
                <param name="android-package" value="xu.li.cordova.wechat.Wechat"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
          <activity
              android:name=".wxapi.WXEntryActivity"
              android:label="@string/launcher_name"
               android:launchMode="singleTop"
              android:theme="@android:style/Theme.Translucent.NoTitleBar"
              android:exported="true">
            <intent-filter>
              <action android:name="android.intent.action.VIEW"/>
              <category android:name="android.intent.category.DEFAULT"/>
              <data android:scheme="Anything"/>
            </intent-filter>
          </activity>
        </config-file>

        <!-- !!!!!! IMPORTANT  -->
	   <source-file src="src/android/WXEntryActivity.java" target-dir="src/your/package/name/wxapi" />
       <!-- if your app's package name is com.whatever.hola, then change "/your/package/name" above to "/com/whatever/hola" -->
       <!-- !!!!!! IMPORTANT  -->
        <source-file src="src/android/Wechat.java" target-dir="src/xu/li/cordova/wechat" />
        <source-file src="src/android/Util.java" target-dir="src/xu/li/cordova/wechat" />
        <source-file src="src/android/libammsdk.jar" target-dir="libs" />
    </platform>
</plugin>
